body{
    margin:0;
    padding:0;
    background-color: #282c34;
    color: white;
    font-family: verdana;
  
  }
  .header{
    height:80px;
    background-color:#D4A095;
    font-weight:bold;
    font-size:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    margin-bottom:20px;
    border:2px solid #D4A095;
  }
  .footer{
    height:50px;
    background-color:#D4A095;
    margin-top:10px;
    padding:0;
    border:2px solid #D4A095;
  }
  .search{
   display:flex;
   justify-content: space-around;
   margin:10px;
  }

  .sameline{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  form{
   display:flex;
   flex-direction:column;
   padding:10px;
  }

 #container{
      width:1200px;
      background-color:lightgray;
      display:flex;
      flex-direction: column;
      align-items: center; 
  }

  .centerItem{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
